.vscode/settings.json
Neural_Networks/Perceptron/__pycache__/
Flappy_Bird/classes/__pycache__/
Neural_Networks/2-Multilayered_Perceptron/__pycache__/
Flappy_Bird/__pycache__/
Flappy_Bird/MyNeuralNetwork/__pycache__/
